<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Blog Capstone</title>
</head>

<body>
    <main class="pb-5 my-0">
      <div class="d-flex flex-row flex-wrap">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 180px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-4">Bit's Blog</span>
            </a>
            <hr>
