<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice</title>
</head>
<body>
    <h1>
        <% if ([0,7].includes(dayOfWeek)) {%>
            It is the weekend! Finally!!
        <%} else {%>
            It is a weekday. Keep coding!
        <%} %>
    </h1>
</body>
</html>